@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

body {
    position: relative;
    background: #D0D7FE;
    width: 1440px;
    height: 1024px;
    margin: auto;
}

.content {
    position: absolute;
    width: 1058px;
    height: 786px;
    background: #FFFFFF;
    top: 119px;
    left: 191px;
}

.header {
    position: absolute;
    top: 87px;
    left: 446.70px;
    margin: 0;
    font:normal 700 30px /133.02% 'Kanit', sans-serif;
    color: #09165F;
    letter-spacing: 0.035em;
}